@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);
html {
  font-size: 16px;
  height: 100%; }
  html body.style1 {
    height: 100vh;
    font-family: "Open Sans", serif;
    display: -ms-flexbox;
    display: flex; }
    html body.style1 section.hero-img {
      padding: 0;
      width: 50vw;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-direction: row;
      flex-direction: row;
      background-color: #f4dcc0;
      background-image: url("../img/davidnunez.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 50vw;
      position: absolute;
      background-position: 50% 10%;
      border: solid 1rem #e9a054; }
    html body.style1 section.social-media {
      padding: 1rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
      z-index: 100;
      width: 100vw; }
      html body.style1 section.social-media .linkdin, html body.style1 section.social-media .instagram {
        height: 30px;
        width: 30px;
        margin: 1rem; }
        html body.style1 section.social-media .linkdin svg, html body.style1 section.social-media .instagram svg {
          fill: #e9a054;
          width: 100%;
          height: 100%; }
          html body.style1 section.social-media .linkdin svg:hover, html body.style1 section.social-media .instagram svg:hover {
            fill: #9f5b14; }
    html body.style1 section.bio {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: end;
      justify-content: flex-end;
      display: -ms-flexbox;
      display: flex;
      width: 50vw;
      position: fixed;
      right: 0;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 4rem 5rem;
      height: 100vh;
      overflow: scroll; }
      html body.style1 section.bio .header img {
        display: none; }
      html body.style1 section.bio .header h1 {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 4rem;
        color: #e9a054;
        margin-bottom: 2rem; }
      html body.style1 section.bio .body-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 600px; }
        html body.style1 section.bio .body-text p {
          color: #413414;
          line-height: 1.75rem;
          font-size: .875rem; }
          html body.style1 section.bio .body-text p a, html body.style1 section.bio .body-text p a:visited {
            font-weight: 600;
            color: #e9a054; }
            html body.style1 section.bio .body-text p a:hover, html body.style1 section.bio .body-text p a:visited:hover {
              text-decoration: none;
              color: #9f5b14; }
          html body.style1 section.bio .body-text p:last-of-type {
            margin-bottom: 3rem; }
        html body.style1 section.bio .body-text i {
          font-size: .75rem;
          margin-bottom: .25rem; }
  html body.style2 {
    background: #de5c54;
    color: #202020;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh; }
    html body.style2 section.hero-img {
      display: none; }
    html body.style2 section.social-media {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 2rem;
      width: 100vw; }
      html body.style2 section.social-media a:hover svg {
        transition-duration: 1s;
        fill: #eba55d; }
      html body.style2 section.social-media a svg {
        transition-duration: 1s;
        fill: #202020;
        height: 40px;
        width: 40px; }
    html body.style2 section.bio {
      border: solid #202020 5px;
      background: #e77f55;
      max-width: 800px;
      padding: 3rem;
      box-shadow: -30px -30px 0 -5px #c0524e, -30px -30px 0 #202020, -60px -60px 0 -5px #eba55d, -60px -60px 0 #202020;
      margin: 2rem 0 6rem; }
      html body.style2 section.bio .header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 2.5rem; }
        html body.style2 section.bio .header img {
          height: 200px;
          width: auto;
          filter: sepia(1);
          border: solid #202020 5px;
          background: #eba55d;
          margin-right: 1rem;
          border-radius: 100%; }
        html body.style2 section.bio .header h1 {
          font-family: 'Space Mono', monospace;
          font-weight: 700;
          font-size: 6rem;
          margin-bottom: 0;
          line-height: 5rem; }
      html body.style2 section.bio .body-text p {
        font-family: 'Space Mono', monospace;
        font-size: .8625rem;
        line-height: 2; }
      html body.style2 section.bio .body-text a {
        color: #202020;
        font-weight: 700;
        position: relative; }
        html body.style2 section.bio .body-text a::after {
          border-bottom: 0.5em solid rgba(235, 165, 93, 0.5);
          content: "";
          left: 0;
          margin-top: calc(0.125em / 2 * -1);
          position: absolute;
          right: 0;
          top: 100%; }
        html body.style2 section.bio .body-text a:hover {
          text-decoration: none; }
          html body.style2 section.bio .body-text a:hover::after {
            border-bottom: 0.5em solid #eba55d; }
  html body.style3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto minmax(auto, 250px) 10% minmax(auto, 600px) auto;
    grid-template-columns: auto minmax(auto, 250px) 10% minmax(auto, 600px) auto;
    -ms-grid-rows: auto 30% 20% 40% auto;
    grid-template-rows: auto 30% 20% 40% auto;
    background-image: repeating-linear-gradient(135deg, #fff, #fff 20px, rgba(255, 0, 255, 0.5) 20px, rgba(255, 0, 255, 0.5) 22px);
    height: 100vh; }
    html body.style3 section.hero-img {
      grid-area: 2 / 2 / span 2 / span 2;
      background-color: cyan;
      background-blend-mode: screen;
      background-image: url("../img/davidnunez.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .95;
      z-index: -1;
      box-shadow: 20px 20px rgba(255, 0, 255, 0.5); }
    html body.style3 section.social-media {
      grid-area: 3 / 3 / span 2 / span 2;
      z-index: 2;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
      height: 60px; }
      html body.style3 section.social-media a svg {
        margin: 1rem;
        transition-duration: 1s;
        fill: cyan;
        width: 30px;
        height: 30px; }
      html body.style3 section.social-media a:hover svg {
        transition-duration: 1s;
        fill: rgba(255, 0, 255, 0.5); }
    html body.style3 section.bio {
      grid-area: 3 / 3 / span 2 / span 2;
      background-color: rgba(255, 255, 255, 0.95);
      box-shadow: -30px 30px rgba(255, 255, 0, 0.75);
      overflow: scroll;
      padding: 4rem 2rem 2rem;
      border: 2px solid cyan; }
      html body.style3 section.bio .header img {
        display: none; }
      html body.style3 section.bio .header h1 {
        grid-area: 4 / 3 / span 2 / span 4;
        font-size: 8vw;
        font-weight: 800;
        font-style: italic;
        text-transform: uppercase;
        color: rgba(255, 0, 255, 0.5);
        line-height: 10vw;
        margin-bottom: 1rem; }
      html body.style3 section.bio .body-text p {
        color: rgba(0, 0, 0, 0.75); }
        html body.style3 section.bio .body-text p a {
          color: magenta; }
          html body.style3 section.bio .body-text p a:hover {
            color: rgba(255, 0, 255, 0.5); }
  html body.style4 {
    background: linear-gradient(90deg, #ffffff 22px, transparent 1%) center, linear-gradient(#ffffff 22px, transparent 1%) center, #A9A9A9;
    background-size: 24px 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
    html body.style4 section.social-media {
      width: 100vw;
      position: fixed;
      top: 45vh;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      html body.style4 section.social-media .linkdin, html body.style4 section.social-media .instagram {
        padding: 1rem; }
        html body.style4 section.social-media .linkdin a, html body.style4 section.social-media .instagram a {
          display: -ms-flexbox;
          display: flex;
          padding: 1rem; }
          html body.style4 section.social-media .linkdin a svg, html body.style4 section.social-media .instagram a svg {
            width: 30px;
            height: 30px;
            fill: rgba(0, 0, 0, 0.25);
            transition: 1s; }
            html body.style4 section.social-media .linkdin a svg:hover, html body.style4 section.social-media .instagram a svg:hover {
              fill: #e75760;
              transition: 1s; }
    html body.style4 section.bio {
      height: 100vh;
      max-width: 900px;
      min-width: 300px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-direction: column;
      flex-direction: column; }
      html body.style4 section.bio .header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 6rem;
        border-bottom: 1px solid #e75760;
        margin-bottom: 6rem;
        width: 10rem; }
        html body.style4 section.bio .header img {
          width: 15rem;
          height: 15rem;
          border-radius: 100%;
          background: #F0F0F0;
          filter: grayscale(100%);
          opacity: .5;
          position: absolute; }
        html body.style4 section.bio .header h1 {
          font-size: 12rem;
          line-height: 12rem;
          overflow-wrap: break-word;
          font-family: 'Space Mono', Helvetica, sans-serif;
          text-transform: uppercase;
          color: #e75760;
          opacity: .5;
          margin-bottom: 0; }
      html body.style4 section.bio .body-text {
        background-color: #fff;
        padding: 2rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #dedede; }
        html body.style4 section.bio .body-text p {
          font-family: 'Open Sans', Helvetica, sans-serif;
          line-height: 1.75;
          color: rgba(0, 0, 0, 0.75);
          font-size: .875rem; }
          html body.style4 section.bio .body-text p:first-child:first-letter {
            float: left;
            color: rgba(0, 0, 0, 0.25);
            font-size: 5rem;
            line-height: 4rem; }
          html body.style4 section.bio .body-text p a {
            color: rgba(0, 0, 0, 0.75);
            background-color: rgba(231, 87, 96, 0.15); }
            html body.style4 section.bio .body-text p a:hover {
              text-decoration: none;
              background-color: rgba(231, 87, 96, 0.5);
              transition-duration: .5s; }
  @media only screen and (max-width: 768px) {
    html body.style1 {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-direction: column;
      flex-direction: column; }
      html body.style1 section.hero-img {
        height: 40vh;
        width: 100vw; }
      html body.style1 section.bio {
        width: 100vw;
        margin-top: 40vh;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: 60vh; }
    html body.style2 section.bio {
      margin: 2rem 4rem 4rem;
      padding: 2rem;
      max-width: 100vw;
      box-shadow: -20px -20px 0 -5px #c0524e, -20px -20px 0 #202020, -40px -40px 0 -5px #eba55d, -40px -40px 0 #202020; }
      html body.style2 section.bio .header img {
        height: 150px; }
      html body.style2 section.bio .header h1 {
        font-size: 4rem; }
    html body.style3 {
      -ms-grid-columns: auto minmax(auto, 225px) 10% minmax(auto, 350px) auto;
      grid-template-columns: auto minmax(auto, 225px) 10% minmax(auto, 350px) auto; }
    html body.style4 section.social-media {
      top: auto;
      bottom: 0; }
    html body.style4 section.bio {
      max-width: 600px; }
      html body.style4 section.bio .body-text {
        column-count: 1; } }
  @media only screen and (max-width: 578px) {
    html body.style1 section.hero-img {
      border: solid .5rem #e9a054; }
    html body.style1 section.bio {
      padding: 2rem; }
    html body.style2 section.social-media {
      position: relative;
      padding: 0;
      height: 0; }
      html body.style2 section.social-media a svg {
        height: 30px;
        width: 30px;
        margin: 2.5rem; }
    html body.style2 section.bio {
      overflow: scroll;
      margin: 0;
      height: 100vh;
      -ms-flex-pack: center;
      justify-content: center; }
      html body.style2 section.bio .header {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center; }
        html body.style2 section.bio .header img {
          margin-right: 0;
          margin-top: 3rem; }
        html body.style2 section.bio .header h1 {
          font-size: 3rem;
          text-align: center; }
    html body.style3 {
      -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
      -ms-grid-rows: auto 30% auto 25% 30% auto;
      grid-template-rows: auto 30% auto 25% 30% auto; }
      html body.style3 section.hero-img {
        grid-area: 1 / 2 / span 2 / span 1;
        z-index: 1; }
      html body.style3 section.social-media {
        grid-area: 1 / 2 / span 2 / span 1;
        padding: .5rem; }
        html body.style3 section.social-media a svg {
          margin: .5rem;
          width: 30px;
          height: 30px;
          fill: #ffffff; }
      html body.style3 section.bio {
        grid-area: 4 / 2 / span 2 / span 1;
        padding: 3rem 1rem 1rem; }
        html body.style3 section.bio .header h1 {
          font-size: 4rem;
          margin-bottom: 2rem; }
    html body.style4 section.social-media {
      top: 0; }
    html body.style4 section.bio {
      height: auto; }
      html body.style4 section.bio .header {
        padding-bottom: 2rem;
        margin-bottom: 2rem; }
        html body.style4 section.bio .header img {
          position: inherit;
          margin: 4rem 0 2rem; }
        html body.style4 section.bio .header h1 {
          font-size: 4rem;
          line-height: 4rem; } }
