@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i);
html {
  font-size: 16px;
  height: 100%; }
  html body.style1 {
    height: 100vh;
    font-family: "Open Sans", serif;
    display: -ms-flexbox;
    display: flex; }
    html body.style1 h1 {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 4rem;
      color: #e9a054;
      margin-bottom: 2rem; }
    html body.style1 p {
      color: #413414;
      line-height: 1.75rem;
      font-size: .875rem; }
      html body.style1 p a, html body.style1 p a:visited {
        font-weight: 600;
        color: #e9a054; }
        html body.style1 p a:hover, html body.style1 p a:visited:hover {
          text-decoration: none;
          color: #9f5b14; }
      html body.style1 p:last-of-type {
        margin-bottom: 3rem; }
    html body.style1 i {
      font-size: .75rem;
      margin-bottom: .25rem; }
    html body.style1 svg {
      fill: #e9a054;
      width: 100%;
      height: 100%; }
      html body.style1 svg:hover {
        fill: #9f5b14; }
    html body.style1 .container-fluid:first-of-type {
      padding: 0;
      width: 100%; }
    html body.style1 .container-fluid .hero-img {
      background-color: #f4dcc0;
      background-image: url("../img/davidnunez.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 50%;
      position: absolute;
      background-position: 50% 10%; }
    html body.style1 .container-fluid:nth-of-type(2) {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 4rem 5rem;
      overflow: scroll; }
      html body.style1 .container-fluid:nth-of-type(2) .social-media {
        padding: 1rem; }
        html body.style1 .container-fluid:nth-of-type(2) .social-media .instagram, html body.style1 .container-fluid:nth-of-type(2) .social-media .linkdin {
          height: 30px;
          width: 30px;
          margin: 1rem; }
  html body.style2 {
    background: pink; }
  @media only screen and (max-width: 1200px) {
    html body.style1 .container-fluid:nth-of-type(2) {
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media only screen and (max-width: 768px) {
    html body.style1 {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-direction: column;
      flex-direction: column; }
      html body.style1 p {
        font-size: .875rem;
        line-height: 1.5rem; }
      html body.style1 .container-fluid h1 {
        font-size: 3rem;
        margin-bottom: 2rem; }
      html body.style1 .container-fluid .hero-img {
        width: 100%;
        height: 40vh;
        position: inherit; } }
  @media only screen and (max-width: 578px) {
    html body.style1 .container-fluid:nth-of-type(2) {
      height: 60vh;
      padding: 2rem 2rem; } }
