h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 90px;
	line-height: 90px;
	color: white;
	font-weight: 700;
	margin-bottom: 40px;
}

h2 {
	font-size: 30px;
	line-height: 36px;
	color: white;
	font-weight: 400;
	letter-spacing: -1px;
}

h3 {
	color: #59595a;
	font-size: 36px;
	margin-bottom: 20px;
}

h4 {
	color: #59595a;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
}
footer h4 {
	font-size: 22px;
}

h5 {
	color: #59595a;
	font-size: 24px;
	line-height: 30px;
}

.navigation h5 {
	line-height: 70px;
	color: #0072cf;
	display: inline-block;
	font-size: 28px;
}

p {
	color: #59595a;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 30px;
}

a {
	color: #eb4c41;
	text-decoration: none;
	margin: 0 12px 0 12px;
}
a:hover {
	color: #eb4c41;
	text-decoration: none;
	font-weight: 700;
}
.navigation a {
	line-height: 90px;
}

footer h4 {
	color: white;
}

footer a {
	color: white;
	font-size: 14px;
	line-height: 24px;
	display: block;
	margin: 0;
}
footer a:hover {
	color: white;
	font-size: 14px;
	line-height: 24px;
	display: block;
	margin: 0;
}
footer p {
	color: white;
	font-size: 9px;
	line-height: 15px;
	text-align: center;
	margin: 35px 0 35px 0;
}

footer {
	background-color: #35404d;
	padding-top: 70px;
}

sup {
	font-weight: 300;
}

hr {
	background-color: #4a535f;
	height: 2px;
	border: 0 none;
	margin-top: 60px;
}

#hero {
	background: url("../img/web_background.png");
	background-color: #0072cf;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 100px;
	padding-bottom: 120px;
}

#welcome {
	background: url("../img/web_outlines.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #ebebeb;
	padding: 80px 0 90px 0;
}

#how-to {
	padding: 80px 0 90px 0;
}

#how-to p {
	padding-bottom: 40px;
}
#bold {
	font-weight: bold;
}


#web-logo {
	width: 150px;
	display: inline-block;
	padding-bottom: 30px;
	margin-right: 10px;
}

.call-box {
	box-shadow: 0px 0px 20px #999;
	height: 350px;
	margin-top: 30px;
	margin-bottom: 120px;
}
.call-box h4 {
	text-align: center;
	padding: 30px 20px 20px 20px;
	margin: 0;
}

.call-box p {
	text-align: center;
	margin: 0 20px 0 20px;
}
.button {
    background-color: #fff;
    border: 1px solid #0072cf;
    border-radius: 4px;
    color: #0072cf;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    width: 180px;
    height: 48px;
}
.call-box a:hover {
    color: #fff;
    background-color: #0072cf;
}
.icons {
	padding-top: 50px;
	margin: 0 auto;
	display: block;
}
.next {
	float: right;
}
.social {
	display: inline-block;
	margin-right: 10px;
}
.social a:hover {
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
