html {
  font-size: 16px;
  height: 100%;
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 4rem;
    color: #e9a054;
    // padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
  p {
    color: #413414;
    line-height: 2rem;
    font-size: 1.25rem;
  }
  i {
    font-size: .75rem;
    margin-bottom: .25rem;
  }
  svg {
    fill: #e9a054;
  }
  body {
    height: 100%;
    font-family: "Open Sans", serif;
    display: flex;
    .container-fluid {
      width: 50vw;
      padding: 2rem 5rem;
      &:first-of-type {
        background-color: #f4dcc0;
        background-image: url("../img/hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &:nth-of-type(2) {
        flex-direction: column;
        justify-content: center;
        display:inline-flex;
        .social-media {
          padding: 1rem;
          .instagram, .linkdin {
            height:30px;
            width:30px;
            margin: 1rem;
            svg {
              width: 100%;
              height: 100%;
            }
          }
          // div:first-of-type {
          //   margin: 2rem 1rem 2rem;
          // }
          // div:last-of-type {
          //   margin: 2rem 2rem 2rem 1rem;
          // }
        }
      }
    }
    @media only screen and (min-width: 1200px) {
      .container-fluid {
        &:first-of-type {
          background-position: 50% 10%;
        }
      }
    }

    @media only screen and (max-width: 800px) {
      display: inline-flex;
      flex-direction: column;
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .container-fluid {
        width: 100%;
        height: 100%;
        padding: 2rem;
        h1 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }
        &:first-of-type {
          background-position: 50% 10%;
          height: 50%;
        }
        &:nth-of-type(2) {
          justify-content: inherit;
        }
      }
    }
  }
}