html {
  font-size: 16px;
  height: 100%;
  body {
    background-color: #e6eff0;
    border: 2rem solid #ffffff;
    height: 100%;
    font-family: "Open Sans", serif;
    display: flex;
    .container-fluid {
      width: 50vw;
      padding: 0 2rem;
      h1 {
        font-family: "Playfair Display", serif;
        font-size: 5vw;
        color: #ffffff;
        font-weight: 900;
      }
      p {
        color: #1c3e41;
        margin-bottom: 0;
      }
      &:first-of-type {
        background-color: #619296;
      }
    }
    @media only screen and (max-width: 700px) {
      display: inline-flex;
      flex-direction: column;
      border: 1rem solid #ffffff;
      .container-fluid {
        width: 100%;
        height: 100%;
        h1 {
          font-size: 12vw;
        }
      }
    }
  }
}