html {
  font-size: 16px;
  height: 100%;
    body {
    &.style1 {
    height: 100vh;
    font-family: "Open Sans", serif;
    display: flex;
    h1 {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 4rem;
      color: #e9a054;
      margin-bottom: 2rem;
    }
    p {
      color: #413414;
      line-height: 1.75rem;
      font-size: .875rem;
      a, a:visited {
        font-weight: 600;
        color: #e9a054;
        &:hover {
          text-decoration: none;
          color: #9f5b14;
        }
      }
      &:last-of-type {
        margin-bottom: 3rem;
      }
    }
    i {
      font-size: .75rem;
      margin-bottom: .25rem;
    }
    svg {
      fill: #e9a054;
      width: 100%;
      height: 100%;
      &:hover {
        fill: #9f5b14;
      }
    }
    .container-fluid {
      &:first-of-type {
        padding: 0;
        width: 100%;
      }
      .hero-img {
        background-color: #f4dcc0;
        background-image: url("../img/davidnunez.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 50%;
        position: absolute;
        background-position: 50% 10%;
        border: solid 1rem #e9a054;
      }
      &:nth-of-type(2) {
        flex-direction: column;
        justify-content: center;
        display:inline-flex;
        padding: 4rem 5rem;
        overflow: scroll;
        .header {
          img {
            display: none;
          }
        }
        .social-media {
          padding: 1rem;
          display: flex;
          justify-content: flex-end;
          position: fixed;
          top: 0;
          right: 0;
          z-index: 999;
          .instagram, .linkdin {
            height:30px;
            width:30px;
            margin: 1rem;
          }
        }
      }
    }
    }
    &.style2 {
      background:#de5c54;
      color: #202020;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      .container-fluid {
        .social-media {
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 2rem;
          a {
            transition-duration: 1s;
            &::after {
              display: none;
            }
            &:hover {
              svg {
                transition-duration: 1s;
                fill: rgba(235, 165, 93, 1);
              }
            }
            svg {
              height: 40px;
              width: 40px;
            }
          }
        }
        &:first-of-type {
          display: none;
        }
        &:nth-of-type(2) {
          border: solid #202020 5px;
          background: #e77f55;
          max-width: 800px;
          padding: 3rem;
          box-shadow: -30px -30px 0 -5px #c0524e, -30px -30px 0 #202020, -60px -60px 0 -5px #eba55d, -60px -60px 0 #202020,;
          .header {
            display: flex;
            align-items: flex-end;
            margin-bottom: 2.5rem;
            img {
              height: 200px;
              width: auto;
              -webkit-filter: sepia(1);
              filter: sepia(1);
              border: solid #202020 5px;
              background: #eba55d;
              margin-right: 1rem;
              border-radius: 100%;
            }
            h1 {
              font-family: 'Space Mono', monospace;
              font-weight: 700;
              font-size: 6rem;
              margin-bottom: 0;
              line-height: 5rem;
            }
          }
          p {
            font-family: 'Space Mono', monospace;
            font-size: .8625rem;
            line-height: 2;
          }
          a {
            color: #202020;
            font-weight: 700;
            position: relative;
            &::after {
              border-bottom: 0.5em solid rgba(235, 165, 93, 0.5);
              content: "";
              left: 0;
              margin-top: calc(0.125em / 2 * -1);
              position: absolute;
              right: 0;
              top: 100%;
            }
            &:hover {
              text-decoration: none;
              &::after {
                border-bottom: 0.5em solid rgba(235, 165, 93, 1);
              }
            }
          }
        }
      }
    }
    &.style3 {
      display: grid;
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
      grid-template-rows: 10% 20% 20% 20% 20% 10%;
      background-image: repeating-linear-gradient(135deg, #fff, #fff 20px, rgba(255,0,255,.1) 20px, rgba(255,0,255,.1) 40px);
      height: 100vh;
      .container-fluid {
        &:first-of-type {
          grid-area: 2 / 2 / span 2 / span 2;
          background-color: rgba(0, 255, 255, 1);
          background-blend-mode: screen;
          background-image: url("../img/davidnunez.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &:last-of-type {
          grid-area: 3 / 3 / span 3 / span 3;
          img {
            display: none;
          }
          .header {
            h1 {
              grid-area: 4 / 3 / span 2 / span 4;
              font-size: 10rem;
              font-weight: 800;
              font-style: italic;
              text-transform: uppercase;
              letter-spacing: -20px;
              color: rgba(255,0,255,.25);
            }
          }
          div:nth-of-type(2) {
            background-color: rgba(255,255,0,.5);
          }
        }
      }
    }
    @media only screen and (max-width: 1200px) {
    }
    @media only screen and (max-width: 768px) {
      &.style1 {
        display: inline-flex;
        flex-direction: column;
        p {
          font-size: .875rem;
          line-height: 1.5rem;
        }
        .container-fluid {
          h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
          }
          .hero-img{
            width: 100%;
            height: 40vh;
            position: inherit;
            border: solid .75rem #e9a054;
          }
        }
      }
      &.style2 {
        .container-fluid {
          &:nth-of-type(2) {
           margin: 6rem 4rem 4rem;
           padding: 2rem;
           max-width: 100vw;
           box-shadow: -20px -20px 0 -5px #c0524e, -20px -20px 0 #202020, -40px -40px 0 -5px #eba55d, -40px -40px 0 #202020,;
            .header {
              img {
                height: 150px;
              }
              h1 {
                font-size: 4rem;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 578px) {
      &.style1 {
        .container-fluid {
          .hero-img {
            border: solid .5rem #e9a054;
          }
          &:nth-of-type(2) {
            justify-content: flex-start;
            height: 60vh;
            padding: 2rem 2rem;
          }
        }
      }
      &.style2 {
        .container-fluid {
          .social-media {
            position:relative;
            padding: 0;
            a {
              svg {
                height: 30px;
                width: 30px;
              }
            }
          }
          &:nth-of-type(2) {
            overflow: scroll;
            margin: 0;
            height: 100vh;
            justify-content: center;
            .header {
              flex-direction: column;
              align-items: center;
              img {
                margin-right: 0;
              }
              h1 {
                font-size: 3rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}